* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: fit-content;
}
.sec2img {
    height: 20px;
}
.icone {
    width: 30px;
    margin-left: 20px;
}
.section-2-container {
    display: none;
}
.section1-container {
    display: none;
}
.section1-tablet {
    display: flex;
    flex-direction: column;
   
}

.section1-tablet-main {
    display: flex;gap: 300px;
    align-items: center;
    width: 100%;
}
.section1-tablet-main i {
    font-size: 20px;
    margin-left: 20px;
}


/* section 2 */
.section2 {
    overflow: scroll;
    font-size: 40px;
    height: 20vh;
}
